<footer class="bg-darker pt-5">
    <div class="container pt-2">
      <div class="row pb-2">
        <div class="col-lg-2 col-sm-4 pb-2 mb-4">
          <div class="mt-n1"><a class="d-inline-block align-middle" href="#"><img class="d-block mb-4" width="117"
                src="/assets/img/footer-logo-light.png" alt="One-Two Shop" /></a></div>
          <div class="btn-group dropdown disable-autohide">
            <button class="btn btn-outline-light border-light btn-sm dropdown-toggle px-2" type="button"
              data-toggle="dropdown"><img class="mr-2" width="20" src="/assets/img/flags/ke.png" alt="Kenya" />KES / KSh
            </button>
            <ul class="dropdown-menu">
              <li class="dropdown-item">
                <select class="custom-select custom-select-sm">
                  <option value="ksh">KSh KES</option>
                  <option value="tsh">TSh TZS</option>
                  <option value="ush">USh UGX</option>
                  <option value="jpy">ብር ETB</option>
                </select>
              </li>
              <li><a class="dropdown-item pb-1" href="#"><img class="mr-2" width="20" src="/assets/img/flags/tz.png"
                    alt="Tanzania" />Tanzania</a></li>
              <li><a class="dropdown-item pb-1" href="#"><img class="mr-2" width="20" src="/assets/img/flags/ug.png"
                    alt="Uganda" />Uganda</a></li>
              <li><a class="dropdown-item" href="#"><img class="mr-2" width="20" src="/assets/img/flags/etb.png"
                    alt="Ethiopia" />Ethiopia</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-sm-4">
          <div class="widget widget-links widget-light pb-2 mb-4">
            <h3 class="widget-title text-light">Join us</h3>
            <ul class="widget-list">
              <li class="widget-list-item"><a class="widget-list-link" href="#">Careers</a></li>
              <li class="widget-list-item"><a class="widget-list-link" href="#">Restaurants</a></li>
              <li class="widget-list-item"><a class="widget-list-link" href="#">Become a Courier</a></li>
              <li class="widget-list-item"><a class="widget-list-link" href="#">About</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-sm-4">
          <div class="widget widget-links widget-light pb-2 mb-4">
            <h3 class="widget-title text-light">Let us help you</h3>
            <ul class="widget-list">
              <li class="widget-list-item"><a class="widget-list-link" href="#">Help Center</a></li>
              <li class="widget-list-item"><a class="widget-list-link" href="#">Support</a></li>
              <li class="widget-list-item"><a class="widget-list-link" href="#">Contacts</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-sm-4">
          <div class="widget widget-links widget-light pb-2 mb-4">
            <h3 class="widget-title text-light">Follow us</h3>
            <ul class="widget-list">
              <li class="widget-list-item"><a class="widget-list-link" href="#">Facebook</a></li>
              <li class="widget-list-item"><a class="widget-list-link" href="#">Twitter</a></li>
              <li class="widget-list-item"><a class="widget-list-link" href="#">Instagram</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-sm-8">
          <div class="widget pb-2 mb-4">
            <h3 class="widget-title text-light pb-1">Download our app</h3>
            <div class="d-flex flex-wrap"><a class="btn-market btn-apple border border-light mr-3 mb-2" href="#"
                role="button"><span class="btn-market-subtitle">Download on the</span><span class="btn-market-title">App
                  Store</span></a><a class="btn-market btn-google border border-light mb-2" href="#" role="button"><span
                  class="btn-market-subtitle">Download on the</span><span class="btn-market-title">Google Play</span></a>
            </div>
          </div>
        </div>
      </div>
      <hr class="hr-light mt-md-2 pb-4 mb-3">
      <div class="d-md-flex justify-content-between pb-1">
        <div class="pb-4 font-size-xs text-light opacity-50 text-center text-md-left">© All rights reserved. Made by <a
            class="text-light" href="https://createx.studio/" target="_blank" rel="noopener">Createx Studio</a></div>
        <div class="widget widget-links widget-light pb-4">
          <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
            <li class="widget-list-item ml-4"><a class="widget-list-link font-size-ms" href="#">Privacy Policy</a></li>
            <li class="widget-list-item ml-4"><a class="widget-list-link font-size-ms" href="#">Terms &amp; Conditions</a>
            </li>
            <li class="widget-list-item ml-4"><a class="widget-list-link font-size-ms" href="#">Cookies Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
